{
  "openapi": "3.0.0",
  "info": {
    "title": "Neural SDK API",
    "version": "1.1.0",
    "description": "API specification for Neural SDK"
  },
  "servers": [
    {
      "url": "https://api.kalshi.com/v1",
      "description": "Kalshi API"
    }
  ],
  "paths": {
    "/NeuralSDK/from_config_file": {
      "post": {
        "summary": "",
        "operationId": "NeuralSDK_from_config_file",
        "parameters": [
          {
            "name": "file_path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/NeuralSDK/from_env": {
      "post": {
        "summary": "",
        "operationId": "NeuralSDK_from_env",
        "parameters": [
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}